body {
  font-family: Arial;
  font-size: 12pt;
  background: white;
  width: 70%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-around;
}
img {
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid black;
}
.nameContact {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: black;
}
.cont {
  display: flex;
  flex-direction: column;
}
.description {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}

.descripText {
  display: flex;
  margin-left: 10%;

  width: 80%;
}
.header {
  width: 200px;
}

