body {
  font-family: Arial;
  font-size: 12pt;
  background: grey;
}
header {
  display: flex;
  justify-content: space-around;
}
img {
  margin-left: 100px;
}
.nameContact {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: blueviolet;
}
.cont {
  display: flex;
  flex-direction: column;
}
.discription {
    display: flex;
    align-items: flex-start;

}

.discripText {
    display: flex;
    justify-content: center;
    width: 100%;
}
